<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h4 class="mb-0">Kirish</h4>
                </div>
                <div class="card-body">
                    <form action="/auth/login" method="post">
                        <div class="form-group">
                            <label for="phone">Telefon raqami</label>
                            <input type="text" id="phone" name="username" class="form-control"
                                   placeholder="Telefon raqamini kiriting">
                        </div>
                        <div class="form-group">
                            <label for="password">Parol</label>
                            <input type="password" id="password" name="password" class="form-control"
                                   placeholder="Parolni kiriting">
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Kirish</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>